# Dependencies
node_modules/

# Runtime storage & conversions
tmp/
output/
test_files/
*.mp4

# Logs & Environment
*.log
.env
.env.local

# OS Generated
Thumbs.db
.DS_Store

# Editor artifacts
.vscode/
.idea/
